export(dhirsch)
export(phirsch)
export(rpareto2)
export(ppareto2)
export(qpareto2)
export(dpareto2)
export(dsstat)
export(psstat)
export(index.h)
export(index.g)
export(index.rp)
export(index.lp)
export(Sstat2)
export(Sstat)
export(plot.citfun)
export(curve.add.rp)
export(curve.add.lp)
export(pareto2.confint.h)
export(pareto2.confint.rho.approx.lower)
export(pareto2.confint.rho.approx.upper)
export(pareto2.confint.rho.approx)
export(pareto2.confint.rho.upper)
export(pareto2.confint.rho.lower)
export(pareto2.confint.rho)
export(pareto2.ftest)
export(pareto2.goftest)
export(pareto2.htest)
export(pareto2.zsestimate)
export(rho.get)
